<div class="flex flex-row">
  {% set cal, maximum = calendar %}
  {% set colors = [
  "",
  "bg-green-100 border-green-500",
  "bg-green-200 border-green-500",
  "bg-green-300 border-green-500",
  "bg-green-400 border-green-500",
  "bg-green-500 border-green-500",
  ]
  %}
  {% for week in cal %}
  <div class="ml-2 flex flex-col">
    {% for date, count in week %}
    {% set rank = 5 * count // maximum %}
    <div class="mt-2 w-4 h-4 border {{ colors[rank] }} relative group"
	 title="{{ date }} ({{ count }})">
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
