{% extends "layout.html" %}
{% from "_forms.html" import render_form %}

{% block main %}
{% if items %}

{% if todo_items %}
<h1 class="mt-8 text-center">
  <a href="{{ url_for('train') }}"
     class="inline-block px-10 py-4 bg-yellow-600 hover:bg-yellow-700
     rounded-full text-white cursor-pointer">
    <div class="flex flex-col items-center">
      <p class="text-2xl">
        Übung beginnen
      </p>
      <p class="text-sm">
        {% set count = todo_items | length %}
        {% if count == 1 %}
        <span>{{ count }}</span> anstehende Übung.
        {% else %}
        <span>{{ count }}</span> anstehende Übungen.
        {% endif %}
      </p>
    </div>
  </a>
</h1>
<p class="mt-8 text-center text-gray-600 italic">
  - oder -
</p>
{% else %}
<h1 class="mt-8 text-center">
  <span class="inline-block px-10 py-4 border border-yellow-600 text-yellow-600 rounded-full font-semibold text-center">
    Heute stehen keine Übungen an.
  </span>
</h1>
{% endif %}

<h2 class="mt-8">
  Füge ein weiteres Wort zu Deiner Liste hinzu:
</h2>

{{ render_form(form, show_labels=False) }}

<div class="mt-8">
  <p class="mb-2">
    Hier ist eine Übersicht der in den letzten zwölf Wochen pro Tag hinzugefügten Wörter.
  </p>
  {% include "_word_calendar.html" %}
</div>

<p class="mt-8">
  Hier ist eine Liste der Wörter, die Du bereits eingegeben hast:
</p>
<ul class="-m-2 mt-2 flex flex-wrap justify-between">
  {% for item in items %}
  <li class=" m-2 py-2 px-4 flex flex-col flex-grow bg-gray-100 rounded-lg">
    <p class="pb-1 border-b border-gray-300 text-center text-lg text-indigo-700">
      {{ item.word }}
    </p>
    <div class="flex flex-col items-center -mx-1 mt-1 text-sm text-gray-600">
      <div class="flex">
        <p class="mx-1">
          <span class="italic">N</span>
          <span class="font-semibold">{{ item.repitition_number }}</span>
        </p>
        <p class="mx-1">
          <span class="italic">E</span>
          <span class="font-semibold">{{ "{:.3}".format(item.easiness_factor) }}</span>
        </p>
      </div>
      {% if item.last_learned %}
      <p class="mx-1">
        <span class="italic">L</span>
        <span class="font-semibold" moment-format="fromNow">{{ item.last_learned }}</span>
      </p>
      {% endif %}
      {% if item.next_iteration %}
      <p class="mx-1">
        <span class="italic">W</span>
        <span class="font-semibold" moment-format="fromNow">{{ item.next_iteration }}</span>
      </p>
      {% endif %}
    </div>
  </li>
  {% endfor %}
</ul>

{% else %}

<h1 class="mt-8 text-center text-2xl font-semibold text-yellow-700">
  Herzlich Willkommen
</h1>
<p class="mt-2 text-center">
  Du scheinst neu hier zu sein.
</p>
<p class="mt-2 text-center">
  Fange mit Juliano an, indem Du ein neues Wort zu Deiner Liste hinzufügst:
</p>

{{ render_form(form, show_labels=False) }}

{% endif %}

{% endblock %}
