{% extends "layout.html" %}
{% from "_forms.html" import render_form %}

{% block main %}
{% if todo_items %}
{% set count = todo_items | length %}
<div class="mt-8 flex justify-around">
    <a href="{{ url_for('train') }}"
       class="flex flex-col items-center px-10 py-4 
              bg-orange-600 hover:bg-orange-700 rounded-full 
              text-gray-100 cursor-pointer">
      <p class="text-2xl leading-tight">Übung beginnen</p>
      <p class="text-sm leading-tight">
        {% if count == 1 %}
        <span>{{ count }}</span> anstehende Übung.
        {% else %}
        <span>{{ count }}</span> anstehende Übungen.
        {% endif %}
      </p>
    </a>
</div>
{% endif %}

<div class="mt-8">
  <h1 class="font-sm font-semibold leading-tight text-gray-700">
    Füge ein neues Wort zu Deiner Liste hinzu:
  </h1>
  {{ render_form(form, show_labels=False) }}
</div>

{% if items %}
<div class="mt-8">
  <h1 class="font-sm font-semibold leading-tight text-gray-700">
    Hier ist eine Liste der Wörter, die Du bereits eingegeben hast:
  </h1>
  <ul class="flex flex-wrap justify-between -m-2 mt-2">
    {% for item in items %}
    <li class="flex flex-col flex-grow m-2 py-2 px-4 bg-gray-200 rounded-lg">
      <div class="">
        <div class="pb-1 border-b border-gray-300 text-center text-lg text-indigo-700 ">{{ item.word }}</div>
      </div>
      <div class="flex flex-col items-center -mx-1 mt-1 text-sm text-gray-600">
        <div class="flex">
          <div class="mx-1">
            <span class="italic">N</span>
            <span class="font-semibold">{{ item.repitition_number }}</span>
          </div>
          <div class="mx-1">
            <span class="italic">E</span>
            <span class="font-semibold">{{ "{:.3}".format(item.easiness_factor) }}</span>
          </div>
        </div>
        {% if item.last_learned %}
        <div class="mx-1">
          <span class="italic">L</span>
          <span class="font-semibold" moment-format="fromNow">{{ item.last_learned }}</span>
        </div>
        {% endif %}
        {% if item.next_iteration %}
        <div class="mx-1">
          <span class="italic">W</span>
          <span class="font-semibold" moment-format="fromNow">{{ item.next_iteration }}</span>
        </div>
        {% endif %}
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% endblock %}
