{% extends "detail.html" %}

{% block main %}
{% if items %}
<div class="mt-4">
  Hier ist eine Liste der Wörter, die Du bereits eingegeben hast. Du
  kannst auf ein Wort klicken, um es zu inaktivieren bzw. wieder zu
  aktiveren. Inaktive Wörter werden nicht auf der Startseite
  angezeigt.
</div>
<ul class="mt-2 flex flex-wrap justify-between -m-2">
  {% for item in items %}
  <li x-data='{{ item.to_dict() | tojson }}'
      class="grow m-2">
    <div x-on:click="patch_request('{{ url_for('item_activate', item_id=item.id) }}', {'is_active': !is_active}).then(data => is_active = data.is_active)"
	 class="p-2 flex flex-col bg-gray-100 hover:ring rounded-lg cursor-pointer">
      <div class="pb-1 border-b border-gray-300 text-center text-lg text-indigo-500">
	{{ item.word }}
      </div>
      <div class="mt-1 flex-grow flex flex-col items-center text-sm text-gray-600">
	<div>
          <span class="italic">N</span>
          <span class="font-semibold">{{ item.repitition_number }}</span>
          <span class="italic">E</span>
          <span class="font-semibold">{{ "{:.3}".format(item.easiness_factor) }}</span>
	</div>
	{% if item.last_learned %}
	<div>
          <span class="italic">geübt</span>
          <span moment-format="fromNow">{{ item.last_learned.isoformat(timespec="minutes") }}</span>
	</div>
	{% endif %}
	{% if item.next_iteration %}
	<div>
          <span class="italic">fällig</span>
          <span class="font-semibold" moment-format="fromNow">{{ item.next_iteration.isoformat(timespec="minutes") }}</span>
	</div>
	{% endif %}
      </div>
      <div class="mt-1 flex justify-center">
        <template x-if="is_active">
          <span class="text-green-500 font-semibold">Aktiv</span>
        </template>
        <template x-if="!is_active">
          <span class="text-red-500 font-semibold">Inaktiv</span>
        </template>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
{% else %}
<div class="mt-4">Du hast noch keine Begriffe eingegeben.</div>
{% endif %}
{% endblock %}
