{% extends "layout.html" %}

{% block main %}
<p class="flex justify-around">
  <a class="" href="{{ url_for('index') }}">Zurück zur Startseite</a>
</p>
<p class="mt-8">
  Hier ist eine Liste der Wörter, die Du bereits eingegeben hast:
</p>
<ul class="-m-2 mt-2 flex flex-wrap justify-between">
  {% for item in items %}
  <li class=" m-2 py-2 px-4 flex flex-col flex-grow bg-gray-100 rounded-lg">
    <p class="pb-1 border-b border-gray-300 text-center text-lg text-indigo-700">
      {{ item.word }}
    </p>
    <div class="flex flex-col items-center -mx-1 mt-1 text-sm text-gray-600">
      <div class="flex">
        <p class="mx-1">
          <span class="italic">N</span>
          <span class="font-semibold">{{ item.repitition_number }}</span>
        </p>
        <p class="mx-1">
          <span class="italic">E</span>
          <span class="font-semibold">{{ "{:.3}".format(item.easiness_factor) }}</span>
        </p>
      </div>
      {% if item.last_learned %}
      <p class="mx-1">
        <span class="italic">L</span>
        <span moment-format="fromNow">{{ item.last_learned.strftime("%Y-%m-%d %H:%M:%S") }}</span>
      </p>
      {% endif %}
      {% if item.next_iteration %}
      <p class="mx-1">
        <span class="italic">W</span>
        <span class="font-semibold" moment-format="fromNow">{{ item.next_iteration.strftime("%Y-%m-%d %H:%M:%S") }}</span>
      </p>
      {% endif %}
    </div>
  </li>
  {% endfor %}
</ul>

{% endblock %}
