{% extends "base.html" %}

{% block body %}
{% if current_user.is_authenticated %}
<header>
  <div class="max-w-screen-sm mx-auto px-4">
    <div class="py-2 flex flex-wrap justify-between">
      <div class="whitespace-no-wrap">
        Hallo, <span class="font-semibold text-indigo-500">{{ current_user.username }}</span>!
      </div>
      <div class="space-x-2 flex flex-row">
	<a class="hover:text-indigo-500 hover:underline"
	   href="{{ url_for('settings')}}">
	  Einstellungen
	</a>
        <a class="hover:text-indigo-500 hover:underline"
           href="{{ url_for('logout') }}">
          Abmelden
        </a>
      </div>
    </div>
  </div>
</header>
{% endif %}

<main class="max-w-screen-sm mx-auto px-4">
  {% block main %}{% endblock %}
</main>
{% endblock %}
